/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #ffffff;

background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(rgba(138, 141, 200, 1) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, rgba(138, 141, 200, 1) 2px, #ffffff 2px) -1px 0;
background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
height: 100%;
 }

 app-chat-page {
    height: 100%;
    display: block;
 }