.login{
    height: 70vh;
    display: flex;
  align-items: center;
  justify-content: center;



> .login-container{
    width: 60%;
    margin: auto;
    padding: 20px;
   
    background-color: rgb(237, 239, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    >label{
        display: block;
        padding: 8px;
    }
    > input {
        border: none;
        border-radius: 20px;
        height: 28px;
        width: 70%;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    > button {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        border: none;
        background-color: rgba(132, 115, 242, 0.782);
    }
}}